.dropdow {
    position:relative;

}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background-color:#f9fbb2;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0 ,0 , .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition:  opacity 150ms ease-in-out;
}

.dropdown > .dropdown-item:focus + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
 

